<div id="bubbleEventManager">
  <nav>
    <a id="anchor-one" href="#section-one"></a>
    <a id="anchor-two" href="#section-two"></a>
    <a id="anchor-three" href="#section-three"></a>
    <a id="anchor-four" href="#section-four"></a>
  </nav>
  <header>This is a header</header>
  <article>
    <section id="section-one"></section>
    <section id="section-two"></section>
    <section id="section-three"></section>
    <section id="section-four"></section>
  </article>
</div>